<div class="model-details">
    <div class="model-header">
        <h1>Tag: {{ model }}</h1>
        <button onclick="window.location.href='{{ url_for('upload_test', model_name=model) }}'">Test model</button>
    </div>
    <h2>Metrics:</h2>
    <div class="metrics">
        <div class="metric">
            <h4>Epochs:</h4>
            <span>{{ metrics.Epochs }}</span>
        </div>
        <div class="metric">
            <h4>Precision:</h4>
            <span>{{ metrics.Precision }}</span>
        </div>
        <div class="metric">
            <h4>Recall:</h4>
            <span>{{ metrics.Recall }}</span>
        </div>
        <div class="metric">
            <h4>mAP@0.5:</h4>
            <span>{{ metrics['mAP_0.5'] }}</span>
        </div>
        <div class="metric">
            <h4>mAP@0.5:0.95:</h4>
            <span>{{ metrics['mAP_0.5_0.95'] }}</span>
        </div>
        <div class="metric">
            <h4>Mean Precision:</h4>
            <span>{{ metrics['Mean Precision'] }}</span>
        </div>
        <div class="metric">
            <h4>Mean Recall:</h4>
            <span>{{ metrics['Mean Recall'] }}</span>
        </div>
    </div>
    <div class="images">
        {% for i in range(0, len) %}
        <div class="image">
            <h3>{{ images[i] }}</h3>
            <img class="image-src" src="{{ url_for('static', filename='tmp/' + model + '/' + images[i]) }}" alt="{{ images[i] }}">
        </div>
        {% endfor %}
    </div>
</div>
<style>
    .model-details {
        padding: 0 20px;
        max-width: 1400px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin: 20px;
    }
    .model-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
    .metrics {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
    .metric {
        min-width: 200px;
        max-width: 22%;
        margin-right: 2%;
        margin-bottom: 10px;
    }
    .metric h4 {
        margin: 0;
    }
    .images {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .image {
        width: calc(50% - 20px);
        max-width: 300px;
        margin-bottom: 20px;
    }
    .image-src {
        max-width: 100%;
        height: auto;
        border-radius: 5px;
    }

</style>